name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: learning-docker:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Test Container Run
        run: |
          docker run --name test-container -d learning-docker:latest
          sleep 5
          docker ps | grep test-container
          docker stop test-container
